@import '~styles/variables';

.content-container {
  flex: 3;
  padding: 3em 5em;
  .header {
    display: flex;
    .logo-container {
      flex: 1;
      img {
        width: 100%;
      }
    }
    .time-support-container {
      flex: 2;
      display: flex;
      justify-content: flex-end;
      .time-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1em;
        .time {
          font-size: 170%;
        }
        .location {
          border-top: 1px solid;
        }
      }
      .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1em;
        color: $tradewind;
        cursor: pointer;
        .icon {
          font-size: 250%;
          margin-bottom: .1em;
        }
      }
    }
  }
  .content-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    .program-performance-container {
      display: flex;
      .program-performance {
        padding: .5em 1em;
        background: $rajah;
        color: $alabaster;
        .icon {
          margin-right: .5em;
        }
      }
      .program-performance-info {
        padding: .5em 1.5em;
        flex: 1;
        background: $alabaster;
      }
    }
    .view-container {
      display: flex;
      margin-top: 2em;
      justify-content: space-between;
      .view {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .view-icon-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          .view-title {
            font-size: 125%;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: .5em;
          }
          .view-icon {
            color: $alabaster;
            background: $tradewind;
            padding: .5em 0.75em;
            font-size: 750%;
            border-radius: 20px;
          }
        }
        .list-container {
          display: flex;
          flex-direction: column;
          margin-top: 1em;
          .list {
            display: flex;
            align-items: center;
            margin: 0.5em 0;
            .list-icon {
              padding: .5em;
              font-size: 200%;
              background: $alabaster;
              border: 1px solid $tradewind;
              border-radius: 15px;
              color: $tradewind;
              margin-right: .5em;
            }
          }
        }
      }
    }
    .info-container {
      margin-top: 7em;
      display: flex;
      .info {
        display: flex;
        align-items: center;
        margin-right: 4em;
      }
      .info-text {
        display:flex;
        flex-direction: column;
        .title {
          font-weight: 700;
          margin-bottom: .75em;
        }
      }
      .info-icon {
        font-size: 400%;
        padding: .5em .75em;
        color: $alabaster;
        background: $alto;
        border-radius: 15px;
        margin-right: .25em
      }
    }
  }
}