.fullview {
  width: 100%;
  height: 100vh;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainChart {
  height: 80%;
}

.hotel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  // padding: 0 10rem;
}
