@import '~styles/variables';

.sidebar-container {
  flex: 1;
  background: $alabaster;
  border: 1px solid $pumice;
  padding-top: 4em;

  .sidebar-user-info {
    font-size: 140%;
    text-align: center;
    img {
      border-radius: 50%;
      width: 25%;
    }
    .icon {
      color: $tradewind;
      margin-left: 0.25em;
    }
  }

  .sidebar-events {
    margin: 5em 0 5em 2em;
    .title-container {
      margin: 1.5em 0;
      display: flex;
      align-items: center;
      .title {
        font-size: 125%;
        font-weight: 700;
        text-transform: uppercase;
      }
      .button {
        margin-left: 1em;
      }
    }
    .event-container {
      display: flex;
      align-items: center;
      .icon {
        font-size: 150%;
        color: $tradewind;
        padding: .75em;
      }
      .round {
        border: 1px solid $tradewind;
        border-radius: 50%;
        margin: 0.75em 1em 0.75em 0;
      }
      .header-container {
        display: flex;
        flex-direction: column;
        .header {
          font-size: 120%;
          margin-bottom: .5em;
        }
        .secondary-header {
          color: $boulder;
          font-size: 100%;
        }
      }
    }
  }
}