@import '~styles/variables';

.sidebar-container {
  flex: 1;
  background: #F7F7F7;
  padding: 5em 2.5em;

  .sidebar-user-info {
    font-size: 175%;
    text-align: center;
    img {
      border-radius: 50%;
      width: 35%;
    }
    .icon {
      color: $tradewind;
      margin-left: 0.25em;
    }
  }
}