@import '~styles/variables';

.dashboard-container {
  background: #fff;
  flex: 1;
  padding: 5em 5em;
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    .header-logo {
      margin-left: 1em;
    }
  }
}
